.NetworkStatus {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: var(--border-r-circle);
}

.online {
    background-color: var(--online);
}

.offline {
    background-color: var(--offline);
}

.NetworkStatus-container {
    position: relative;
    img {
        border-radius: var(--border-r-s);
        object-fit: cover;
    }
}
