@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --white: #d5d5d5;
  --black: #010101;
  --gray-hover: #bdbdbd;
  --gray-hover-darker: #818181;
  --transparent: transparent;
  --border-r-bigger: 30px;
  --border-r-b: 20px;
  --border-r-s: 12px;
  --border-r-circle: 50%;
  --red: #fd4948;
  --online: #70cc16;
  --offline: #666666;
  --blue: #3577ef;
  --font-size-b: 20px;
  --block-spacing: 2.5px;
  --distance-boundaries: 5px;
}

body.light {
  --body-bg: var(--black);
  --header-bg: var(--white);
  --main-bg: var(--white);
  --footer-bg: var(--white);
  --logo-bg: var(--black);
  --logo-color: var(--white);
  --menu-items-color: var(--black);
  --menu-items-hover-bg: var(--gray-hover);
  --menu-items-hover-color: var(--black);
  --menu-items-active-bg: var(--black);
  --menu-items-active-color: var(--white);
  --lang-active-bg: var(--black);
  --lang-active-color: var(--white);
  --lang-inactive-bg: var(--gray-hover);
  --darkmode-bg: var(--black);
  --darkmode-color: var(--white);
  --cover-bg: var(--gray-hover);
}

body.dark {
  --body-bg: var(--white);
  --header-bg: var(--black);
  --main-bg: var(--black);
  --footer-bg: var(--black);
  --logo-bg: var(--white);
  --logo-color: var(--black);
  --menu-items-color: var(--white);
  --menu-items-hover-bg: var(--gray-hover-darker);
  --menu-items-hover-color: var(--black);
  --menu-items-active-bg: var(--white);
  --menu-items-active-color: var(--black);
  --lang-active-bg: var(--white);
  --lang-active-color: var(--black);
  --lang-inactive-bg: var(--gray-hover-darker);
  --darkmode-bg: var(--white);
  --darkmode-color: var(--black);
  --cover-bg: var(--gray-hover-darker);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--body-bg);
  overflow: hidden;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.RootContainers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: var(--distance-boundaries) var(--distance-boundaries) var(--distance-boundaries) var(--block-spacing);
}

.Header,
.Main,
.Footer {
  padding: 15px;
}

.activeMenu,
.activeLanguage {
  pointer-events: none !important;
  cursor: default !important;
}

.activeMenu {
  color: var(--menu-items-active-color) !important;
  background-color: var(--menu-items-active-bg) !important;
}

.activeLanguage {
  background-color: var(--lang-active-bg);
  color: var(--lang-active-color);
}

.inactiveLanguage {
  cursor: pointer;
  background-color: var(--lang-inactive-bg);
}

.HeaderLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  background-color: var(--logo-bg);
  color: var(--logo-color);
  border-radius: var(--border-r-b) var(--border-r-s);
}
.HeaderLogo a {
  color: inherit;
  padding: 15px;
}

.HeaderMenu-list li {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  font-size: var(--font-size-b);
  margin-bottom: 5px;
}
.HeaderMenu-list li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  color: var(--menu-items-color);
  border-radius: var(--border-r-s);
}
.HeaderMenu-list li a span {
  margin-left: 10px;
}
.HeaderMenu-list li a:hover {
  background-color: var(--menu-items-hover-bg);
  color: var(--menu-items-hover-color);
}
.HeaderMenu-list li:last-child {
  margin-bottom: 0px;
}

.Header {
  min-width: 220px;
  overflow-y: auto;
  background-color: var(--header-bg);
  border-radius: var(--border-r-b);
  margin: var(--distance-boundaries) var(--block-spacing) var(--distance-boundaries) var(--distance-boundaries);
}
.Header::-webkit-scrollbar {
  width: 12px;
  background: rgba(255, 255, 255, 0) !important;
}
.Header::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0) !important;
}
.Header::-webkit-scrollbar-thumb {
  background-color: var(--blue) !important;
  border-radius: 10px !important;
}
.Header::-webkit-scrollbar-button:vertical:start:decrement {
  display: none !important;
}
.Header::-webkit-scrollbar-button:vertical:end:increment {
  display: none !important;
}

.HeaderList {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MainCover img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 250px;
  border-radius: var(--border-r-b);
}

.MainUserInfo {
  margin-top: -100px;
  margin-left: 25px;
}

.MainUserInfo-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.MainUserInfo-list li:first-child img {
  border-radius: var(--border-r-b);
}

.MainUserInfo-item__Photo {
  border-radius: var(--border-r-bigger) 0px 0px var(--border-r-bigger);
  padding: 20px 0px 20px 20px;
}

.MainUserInfo-item__UserInfo {
  border-radius: 0px var(--border-r-bigger) var(--border-r-bigger) 0px;
}

.MainUserInfo-item__Photo,
.MainUserInfo-item__UserInfo {
  background-color: rgba(164, 164, 164, 0.8352941176);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.UserInfo {
  padding: 20px;
  color: var(--menu-items-color);
}

.UserInfo-Name {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.UserInfo-UserName {
  margin-bottom: 10px;
}

.UserInfo-UserName,
.UserInfo-Age,
.UserInfo-Academy {
  font-size: 20px;
}

.UserInfo-Status {
  font-size: 15px;
  margin-left: 0px;
}

.Main {
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: var(--main-bg);
  border-radius: var(--border-r-b);
}
.Main::-webkit-scrollbar {
  width: 12px;
  background: rgba(255, 255, 255, 0) !important;
}
.Main::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0) !important;
}
.Main::-webkit-scrollbar-thumb {
  background-color: var(--blue) !important;
  border-radius: 10px !important;
}
.Main::-webkit-scrollbar-button:vertical:start:decrement {
  display: none !important;
}
.Main::-webkit-scrollbar-button:vertical:end:increment {
  display: none !important;
}

.MainList {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  background-color: var(--footer-bg);
  border-radius: var(--border-r-b);
  margin: var(--block-spacing) var(--distance-boundaries) var(--distance-boundaries) var(--block-spacing);
}

.Localization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: var(--font-size-b);
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.Localization button {
  padding: 10px;
  width: 100%;
}
.Localization button:first-child {
  border-radius: var(--border-r-s) 0px 0px var(--border-r-s);
}
.Localization button:last-child {
  border-radius: 0px var(--border-r-s) var(--border-r-s) 0px;
}

.DarkMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.DarkMode button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: var(--border-r-circle);
  cursor: pointer;
  padding: 10px;
  background-color: var(--darkmode-bg);
  color: var(--darkmode-color);
}
.DarkMode button svg {
  width: 25px;
  height: 25px;
}