.UserFriends-list {
    display: flex;
    padding: 20px 20px 20px 0px;
    margin-top: 5px;
    overflow-x: auto;
    li {
        margin: 0px 10px;
        a {
            color: var(--menu-items-color);
            border-radius: var(--border-r-circle);
            height: 100%;
            display: block;
        }
        &:first-child {
            margin-left: 0px;
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}
